.container
  .header
  .contents
    .__mypage
      マイページ
      .__item-list
      .__sell
      .__buy
    .__card
      .__registration
    .__profile
      .__name
        name
      .__information
        お知らせ

