.login{
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
.icon{
 background:url(http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg) ;
height: 62px;
width: 214px;
margin: auto;
}
.login_box{

  width: 500px;
  height: 700px;
  background-color: white;
  margin: auto;
}
.login_box_text{
  padding-top: 20px;

.field{
  margin-left: 165px;
  margin-top: 20px;
  .user_email{
    width: 200px;
  }
}
.actions{
 margin-left: 165px;
}
}
}