// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper__card{
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  position: fixed;
  
}

.icon{
  margin: 40px auto;
  width: 214px;
}

span2{
  background-color: red;
  color: #fff;
  margin-left: 3px;
}

.card{
  height: 600px;
  width: 450px;
  margin: 40px auto;
  background-color: white;
  h3{
    width: 240px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 40px;
    margin: 40px auto;
    border-bottom: #3ccace solid 2px;
  }
  &__number{
    margin: 40px auto;
    width: 350px;
    
    &__number__field{
      left: 0px;
    }
    .number{
      height: 40px;
      width: 93%;
    }
  }
  &__date{
    margin: 40px auto;
    width: 350px;
    
    &__date__field{
      float: left;
    }
    #exp_month,
    #exp_year{
      width: 30%;
      height: 30px;
    }
  }
  &__code{
    margin: 40px auto;
    width: 350px;
    
    .cvc{
      height: 40px;
      width: 93%;
    }
  }
  &__name{
    margin: 40px auto;
    width: 350px;
    
    .name{
      height: 40px;
      width: 93%;
    }
  }
  &__submit{
  margin: 50px auto;
  width: 122px;
  &__buttun{
  
    display       : inline-block;
    border-radius : 5px;
    font-size     : 18pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 12px 12px;
    background    : #3ccace;
    color         : #ffffff;
    line-height   : 1em;
    transition    : .3s;
    box-shadow    : 3px 3px 5px #666666;
  }
  &__buttun:hover {
    box-shadow    : none;
    color         : #ffffff;
    background    :rgb(132, 220, 223);
  }
 
}
}


